<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page de Connexion</title>
    <link rel="stylesheet" href="../css/app.css" />
  </head>
  <body>
    <div class="login-container">
      <h2>Connexion</h2>
      <form action="/user" method="post">
        <div class="input-group">
          <label for="username">Nom d'utilisateur</label>
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Votre nom d'utilisateur"
            required
          />
        </div>
        <div class="input-group">
          <label for="password">Mot de passe</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Votre mot de passe"
            required
          />
        </div>
        <button type="submit" class="btn-login">Se connecter</button>
        <a href="register" class="hypertext">Vous n'avez pas de compte ?</a>
      </form>
    </div>
  </body>
</html>
